\STM32CubeIDE\CM4\Debug\*
\STM32CubeIDE\CM7\Debug\*
Debug
doxygen/output
build/*
_bin/
.DS_Store
_deps/
tests/_deps
tests/build/

CMAkeCache.txt
*.cmake
CMakeFiles/*
*/CMakeFiles/*

*/Testing/Temporary/*